@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Holtwood+One+SC&display=swap');

body {
    height: 100vh;
    margin: 0;
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

#title.has-cursor::after {
    position: absolute;
    bottom: 12px;
    right: -5px;
    content: "|";
    font-family: arial;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: block;
    font-size: 2rem;
    font-family: "Bevan";
    font-weight: 400;
    padding: 2px;
    margin: 0;
}

#wordle-grid {
    height: 55vh;
    width: 46vh;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

#keyboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    gap: 5px;
}

.key {
    background-color: #D3D6DA;
    max-width: 50px;
    min-width: 30px;
    width: 5vw;
    max-height: 60px;
    min-height: 45px;
    height: 6vw;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    user-select: none;
    border: none;
}

.key.wide {
    max-width: 75px;
    min-width: 45px;
    width: 7vw;
    font-size: small;
}

.message {
    background-color: #202020ee;
    position: absolute;
    top: 20vh;
    min-width: 15vh;
    min-height: 8vh;
    border-radius: 2px;
    transition: opacity 0.1s;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    padding: 10px;
}

.message.hide {
    animation: fade .5s forwards;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    user-select: none;
    flex-direction: column;
}

.square * {
    flex: 0 0 auto;
}

.square.flip {
    animation: flipV 1s forwards;
}

.empty {
    background-color: white;
    border: 2px solid lightgray;
}

.empty div {
    width: 60%;
    height: 10%;
    border-radius: 1px;
}

.empty.has-letter {
    border-color: #121212;
}

.empty.has-letter.certain div {
    background-color: #6ca965;
}

.empty.has-letter.possible div {
    background-color: #c8b653;
}

.empty.has-letter.impossible div {
    background-color: black;
}

.green {
    background-color: #6ca965 !important;
    color: white;
}

.yellow {
    background-color: #c8b653 !important;
    color: white;
}

.black {
    background-color: #787c7f !important;
    color: white;
}

.wiggling {
    position: relative;
    animation: wiggle 0.08s infinite alternate!important;
}

@keyframes wiggle {
    from {transform: translateX(5px);}
    to {transform: translateX(-5px);}
}

@keyframes fade {
    from {opacity: 100%;}
    to {opacity: 0%;}
}

@media screen and (max-width: 420px) {
    #wordle-grid {
        height: 108vw;
        width: 90vw;
    }
}

@media screen and (max-width: 350px) {
    .key {
        min-width: 25px;
    }
}

@media screen and (max-width: 310px) {
    .key {
        min-width: 20px;
        max-width: 25px;
    }
}